html,
body {
    font-family:Exo;
    color:#4b4b4b;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0;
}


#container {
    width:100%;
    height: 100%;  
    position: relative;
    background-color: #ffffff;
}
#containergris {
    width: 100%;
    height:100%;
    background-image: url(../images/fondogris.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#first {
    float:left;
    height:100%; 
    width:40%; 
    text-align: center;
    vertical-align: middle;
}
#firstspecs{
    float: left;
    height: 100%;
    width: 40%;
    position: relative;
    display: inline-block;
    text-align: center;
    padding: 0 5%;
}
#firstlogin {
    width: 80%;
    height: 100%;
    position: relative;
    padding: 0 10%;
}
.creator{
    position: absolute;
    width: 100%;
    top:3%;
}
.creator table{
    margin: 0;
    width: 100%;
    text-align: left;
}
.buttona {
    margin: 0 20% 0 0;
    font-size: 12px;
    text-decoration: none;
    color:#707070;  
}
.buttonb{
    border:0;
    font-size: 12px;
    text-decoration: none;
    color: #707070; 
}
#first2 {
    position: absolute;
    width:80%; 
    top: 28%;
    text-align: center;
}
#first2 h4 {
    color: #101b41;
    font-size: 20px;
    font-weight: lighter;  
    margin: 20px 0;
}
#first2 table{
    width: 100%;    
}
#first2 table th{
    color: #101b41;
    padding-bottom: 15px;
}
#first2 table tbody tr td{
    color: #707070;
    text-align: center;
    border-bottom: 0;
}
#first2 table tbody tr td:hover{
    color: #fff;
    border-radius: 11px;
    background-color: #101b41;
}
.act {
    width: 100%;
    height: 140%;
    overflow-y: scroll;
    position: absolute;
}
.act2{
    width: 100%;
    height: 15%;
    overflow-y: scroll;
}
#first3{
    width: 80%;
    position:absolute; 
    top: 55%;
}
#first3 table{
    width: 100%;
}

#first3 table th{
    text-align: center;
    color: #707070;
}
#first3 table tbody tr td{
    color: #707070;
    text-align: center; 
    border-bottom: 0;
}
#first3 table tbody tr td:hover{
    color: #fff;
    border-radius: 11px;
    background-color: #101b41;
}
#first3 input[type=text] {
    background-color: #101b41;
    width: 50%;
    padding: 0px;
    margin: 0 25% 20px 25%;
}
#first3 input[type=text]:hover{
    color: #ffffff;
}
#first3 h4{
    width: 100%;
    margin: 20px 0;
    font-size: 20px;
    font-weight: lighter;
    color:#101b41;   
}
#first4{
    width:80%;
    height: 100%;
    margin: 0 10%;
    position: relative;
}
#first4 ul{
    width: 100%;
    position:absolute;
    top: 30%;
}
#first4 ul li{
    font-size: 20px;
    color: #070743;
    font-weight: bold;
    top: 30%;
    margin: 10px 0;
}
#first4 input[type=text]{
    font-weight: lighter;
    font-style: italic;
    width: 50%;
    text-align: center; 
    border: gray solid 1px;
    margin:0 25%;
}
#first4 input[type=text]:hover {
    background-color: white;
    color: #b9cc01;
    border: gray solid 1px;
}
#first5{
    width: 100%;
    position:relative; 
    top: 55%;
}
#first5 table{
    width: 100%;
}

#first5 table th{
    text-align: center;
    color: #ffffff;
}
#first5 table tbody tr td{
    color: #ffffff;
    text-align: center; 
    border-bottom: 0;
}
#first5 table tbody tr td:hover{
    color: #fff;
    border-radius: 11px;
    background-color: #101b41;
}
.buttonnext{
    width: 100%;
    position: absolute;
    top: 90%;
}
.button{
    top: 40%;
    font-weight: bold;
    color:#070743;  
    border-color: #070743;
    width: 25%;
    height: 20px;
    padding:10px 28px 10px 28px;
    border-width: 2px;
    border-style: solid;
    border-radius: 40px;
    text-decoration: none;
}
.seleccion li select{
    background-color: #ffffff;
    color:gray;
    font-family: Exo;
    width: 50%;
    height: 40px;
    font-size: 15px;
    font-weight: lighter;   
    font-style: italic;
    text-align: center;
    border:1px solid gray;
    border-radius: 40px;
}
.form{
    font-size:30px;
    display: block;
    width: 50%;
    height: 50%;
    top: 40%;
    position: absolute;
    padding: 0 15%;
}
#second{
    float:right;
    height: 100%;
    width:60%;
    position: relative;
    left:0;
    border-radius:0;
}
.fondo1{
    width: 60%;
    height: 100%;
    display: inline-block;
    float: right;
    background-image: url(../images/circulos.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
#third{
    background-image: url(../images/azul1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    float:right; 
    height:100%; 
    width:50%; 
    position: relative;
    text-align: center;
}
#third2{
    width: 80%;
    position: absolute;
    top: 20%;
    margin:0 10%;
}
#third2 h3 {
    font-size: 20px;
    font-weight: lighter;
    color: #ffffff;
    margin:40px 0;
}
#third2 table {
    width: 100%;
    position: absolute;
    text-align: center;
}
#third2 table tr, td{
    padding: 10px 0;
    color: white;
    border-bottom: 1px solid #b9cc01;
}
#third3{
    width: 70%;
    position: absolute;
    top: 90%;
    margin: 0 5% 0 25%; 
}
#third3 input[type=submit] {
    width: 50%;
    font-weight: bold;
    font-size: 16px;
    color: #ffffff;
    padding: 8px 20px;
    border:2px solid #ffffff;
    border-radius: 40px;
}
#third3 input[type=submit]:hover {
    background-color: gray;
    color: #101b41;
    border: #ccc solid 1px

}
#fourthspecs {
    float: right;
    height: 100%;
    width:50%;
    display: inline-block;
    position: relative;
}
#fourth {
    float:right;
    display: inline-block;
    height:100%; 
    width:100%; 
    background-image: url(../images/azul2.svg);
    background-repeat: no-repeat;
    background-size:cover;
    text-align: center;
    position: relative;
}

#fourth2{
    width: 50%;
    position: relative;
    top: 3%;
    margin: 0 13%
}
#fourth2 table{
    position: absolute;
    width: 70%;
}
#fourth2 table th{
    color: #ffffff;
    font-size: 15px;
    font-weight: lighter;
    padding: 0; 
}
#fourth2 table td{
    color: #101b41;
    font-size: 15px;
    border-bottom: 0;
    text-align: center;
    padding: 5px 0 5px 0;
}
#second2{
    width: 100%;
    height: 100%;
    display: inline-block;
    float: right;
    background-image: url(../images/circulos.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.second3{
    width: 100%;
    height: 100%;
    display: inline-block;
    float: right;
    background-image: url(../images/circulos2.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}    
.second4 {
    text-align: center;
    width: 70%;
    height: 100%;
    margin: 5% 15%;
}
.campaña table{
    width: 70%;
    position: absolute;
    font-weight: lighter;
    font-size: 25px;
    padding: 0 15%;
    top: 5%;
    color: #ffffff;
}
.second4 h7{
    width: 70%;
    font-size: 20px;
    position: absolute;
    display: inline-block;
}
.second4 h8{
    width: 70%;
    font-size: 20px;
    position: absolute;
    display: inline-block;
}
.mediotitle th{
    font-size: 20px;
    color: #070743;
}
.medio table{
    width: 70%;
    position: absolute;
    top: 13%;
}
.medio table tr th{
    font-weight: lighter;
    color: #070743;
}
.imagen{
    width: 35%;
    height: 50%;
    background-color: #070743;
    position: absolute;
    border-radius: 20px;
    top: 25%;
    display: inline-block;
}
.observaciones{
    display: inline-block;
    position: absolute;
    width: 35%;
    text-align: start;
    top: 25%;
    left: 60%;
}
.observaciones h8{
    font-size: 20px;
    color: #ffffff;
    font-weight: lighter;
}
.observaciones ul li{
    font-size: 15px;
    text-align: start;
    margin: 0;
}
.buttons table{
    width: 70%;
    position: absolute; 
    top: 90%;
}
.button2{
    background-color: #070743;
    font-weight: bold;
    color:#ffffff;  
    border-color: #ffffff;
    padding:10px 28px 10px 28px;
    border-width: 2px;
    border-style: solid;
    border-radius: 40px;
    text-decoration: none;
}
.title{
    width: 80%;
    position: absolute;
    top: 5%;          
}
.title2{
    height: 100%;
    display: inline-block;
    padding-top: 30%;
}
.title3{
    top:10%;
    position: absolute;
    width: 100%

}
input[type=text] {
    font-family:Exo;
    font-size:15px;
    width: 100%;
    padding: 10px 20px;
    margin: 9px 0;
    text-align: center;
    display: block;
    border: .5px solid #707070;
    border-radius: 20px;
    box-sizing: border-box;
    border-color:#707070;
    border-style:ridge;
    border-width: thin;
    
}

input[type=submit] {
    font-family:Exo;
    font-size:20px;
    width: 50%;
    background-color: #070743;
    color: white;
    padding: 8px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 20px;
    border-color:#070743;
    border-style: solid;
    border-width: thin;

}

input[type=submit]:hover {
    background-color: #ffffff;
    color: #070743;
    border-color:#070743;
    border-style: solid;
    border-width: thin;
}

.cuentas{
   width: 100%;
   position: relative;
   padding-top: 30%;
}

ul{
    list-style-type:none;
    padding-inline-start:0;
    margin-block-start:30px;

}
li{
    font-family:Exo;
    font-size:20px;
    color:#070743;
    padding: 5px 2px;
    text-align: center;
}
li:hover{   

    background-color:rgba(0,0,0,0);
    color: #ffffff;
    border-radius: 10px;
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  letter-spacing: normal;
  display: inline-block;
  vertical-align: middle;
}


::-webkit-input-placeholder {
    text-align: center;
    border-radius: 20px;
    }
    
:-moz-placeholder { /* Firefox 18- */
    text-align: center;
    }
    
::-moz-placeholder { /* Firefox 19+ */
    text-align: center;
    }
    
:-ms-input-placeholder {
    text-align: center;
    }
