html,
body {
    border: solid blue thin;
    font-family:Exo;
    color:#4b4b4b;
    margin: 0px;
    height: 100%;
}
#container {
    width:100%;
    height:100%;
    position: absolute;
}

#first {
    float:left;
    height:100%; 
    width:40%; 
    background-color:white;
    text-align: center;
    display: table;
    vertical-align: middle;

}

form {
    border:#ffffff;
}

.form{
    float: right;
    font-size:30px;
    font-weight:medium;
    padding: 10% 0;
    text-align: center;
    display: block;
    vertical-align: middle;
    width: 40%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    border:#ffffff;


}





#second{
    background-color:#ffffff;
    float:right; 
    height:150%; 
    width:60%; 
    position: relative;
    left:0;
    border-radius:0;  /*se oculta por la izquierda*/
    /*right: 0;  se oculta por la derecha */
}
  
.circulo1{
    display: block;
    background-color:#169D99;
    position:absolute;
    float: right;
    height:100%;
    width:120%;
    top:-20%;
    bottom:0;
    left:0;
    border-radius:50%;
}
.circulo2{
     display: block;
    background-color:#B9CC01;
    position:absolute;
    float: right;
    height:100%;
    width:120%;
    top:20%;
    bottom:0;
    left:0;
    border-radius:50%; 

}
.title{
    height: 40%;          
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: auto;
    padding:100px;
    border: solid white thin;
}

.title2{    
    height:40%;
    text-align: center;
    margin-left: auto;
    margin-right: auto; 
    width: /*whatever width you want*/;
    overflow: auto;
    margin: auto;
    display: table-cell;
    padding:220px;
    border: solid black thin;
}
input[type=text],
select {
    font-family:Exo;
    font-size:15px;
    color:#AAAAAA;
    width: 100%;
    padding: 10px 20px;
    margin: 9px 0;
    display: inline-flex;
    border: .5px solid #707070;
    border-radius: 15px;
    box-sizing: border-box;

    border-color:#707070;
    border-style:ridge;
    border-width: thin;
}

input[type=submit] {
    font-family:Exo;
    font-size:20px;
    width: 50%;
    background-color: #070743;
    color: white;
    padding: 8px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 20px;
    border-color:#070743;
    border-style: solid;
    border-width: thin;
}

input[type=submit]:hover {
    background-color: #ffffff;
    color: #070743;
    border-color:#070743;
    border-style: solid;
    border-width: thin;
}

::-webkit-input-placeholder {
    text-align: center;
    }
    
:-moz-placeholder { /* Firefox 18- */
    text-align: center;
    }
    
::-moz-placeholder { /* Firefox 19+ */
    text-align: center;
    }
    
:-ms-input-placeholder {
    text-align: center;
    }
/**
.container{
    background-color: red;
    margin:0;
    padding:0;
    height:100%;
}
.container_right{
    background-color: #030346;
    float: right;
    width: 50%;
    margin:0; 
    padding:0;
    height:100%;
}

.container_left{
    background-color: gainsboro;
    float: left;
    width: 50%;
    height:-webkit-fill-available;
}
**/
